
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    height: 100%;
    background: #f0f0f0;
  }
  
html, body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.banner {
    width: 100%;
    height: auto;

}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 5vw;
    color: black;
    text-align: center;
    text-emphasis: bold;
  }

h2 {
  font-family: 'Times New Roman', Times, serif;
  font-size: 36px;
  color:black;
  text-align: center;
}






#contact-description {

  font-family: 'Times New Roman', Times, serif;
  justify-content: center;
  font-size: 20px; 
}

#some-lori-cd {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 24px; 
    padding: 20px 150px 20px 150px; 
    font-weight: 300;
}

.contact-lori-description {
    font-family: 'Times New Roman', Times, serif;
  justify-content: center;
  font-size: 20px;
  text-align: center;
}

#lorim-contact {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 24px;
    padding: 20px 50px;
  }

#lorim-contact a{
    font-family: 'Times New Roman', Times, serif;
    color:  #0000EE;
    text-align: center;
    font-size: 24px;
    padding: 20px 50px;
  }

button {
  background-color: whitesmoke;
  font-family: 'Times New Roman', Times, serif;
  width: 150px;
  height: 50px;
  font-size: 22px;
  border-color: black;
  border-radius: 5px;
  padding: 1%;
  cursor: pointer;
  font-weight: 800px;
}
hr {
  border: 1px solid #f0f0f0;
  border-radius: 2px; 
  margin-top: 15px; 
  margin-bottom: 15px
}

.contact-form {
  font-weight: 800;
  font-size: 28px;
  margin: 30px 0px;
}

.message {
 background-color: whitesmoke;
 text-align: left;
 
}

.newspaper {
  -webkit-column-count: 2; /* Chrome, Safari, Opera */
  -moz-column-count: 2; /* Firefox */
  column-count: 2;
}
/*functional contact form*/
.form {
    width: 100%;
    height: auto;
  border: solid 1px black;
  color: black;
  background: rgba(101,209,224,0.5);

  font-weight: 200;
  padding: 3%;
  border-radius: 5px;
  margin-bottom: 3%;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*media query*/
@media all and (min-width: 800px) {
  .group {
    flex-direction: row;
  }
  form {
    width: 50%;
  }

  /*functional contact form*/
.form {
    width: 100%;
    height: auto;
  border: solid 1px black;
  color: black;
  background: rgba(101,209,224,0.5);
  font-weight: 800;
  padding: 3%;
  border-radius: 5px;
  margin-bottom: 3%;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}


}