/* Generic styling */
* {
    box-sizing: border-box;
   
    margin: 0;
    padding: 0;
  }
  ul {
    list-style: none;
    padding-left: 0;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2rem;
  }

  h4 {
    list-style: none;
    padding-left: 0;
    padding-right: 0.5em;
    padding-top: 1.65em;
    color: white;
    text-shadow: 4px 4px black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.8rem;

  }

  h5 {
    list-style: none;
    
    padding-top: 0.75em;
    color: white;
    text-shadow: 4px 4px black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.8rem;

  }


  footer {
    background-color: #555;
    color: #bbb;
    line-height: 1.5; 
  }


  footer a {
    text-decoration: none;
    color: #eee;
  }
  a:hover {
    text-decoration: underline;
  }

  /* Sticks footer to bottom */
  body {
    display: flex;
    max-height: 100vh;
    flex-direction: column;
  }
  .container {
    flex: 1;
    
    
  }
  /* Footer main */
  .ft-main {
    padding: 1.25rem 1.875rem;
    display: flex;
    flex-wrap: wrap;
  }

  .ft-main-item {
    padding: 0.15rem;
    min-width: 12.5rem;
  }




  

  /* Footer social */
  .ft-social {
    padding: 0 1.875rem 1.25rem;
  }
  .ft-social-list {
    display: flex;
    justify-content: center;
    border-top: 1px #777 solid;
    padding-top: 1.25rem;
  }
  .ft-social-list li {
    margin: 1.5rem;
    font-size: 2.25rem;
  }
  /* Footer legal */
  .ft-legal {
    padding: 0.9375rem 2.0rem 1.875rem;
    background-color: #333;
  }
  .ft-legal-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  .ft-legal-list li {
      color: white;
    margin: 0.125rem 0.625rem;
    white-space: nowrap;
  }
  /* one before the last child */
  .ft-legal-list li:nth-last-child(2) {
      flex: 1;
  }

  #optima-logo {
    width: 240px;
    height: auto;
    padding-top: 1.0em;
    padding-left: 0em;

}

#icon-white {
    width: 280px;
    height: auto;
    padding-top: 3.5em;
    padding-left: 0em;
  
  
}

#eho-image {
    width: 45px;
    height: auto;
}

#realtor-image {
     width: 35px;
    height: auto;
    padding-top: 0.15em;
}

#mls-image {
    width: 80px;
    height: auto;
}

@media only screen and (min-width: 29.8125rem /* 477px */) {
    .ft-main {
      justify-content: space-evenly;
    }
    .ft-legal {
        justify-content: space-evenly;
    }
 

  }
  @media only screen and (min-width: 77.5rem /* 1240px */) {
    .ft-main {
      justify-content: space-evenly;
    }

    .ft-legal {
        justify-content: space-evenly;
    }
}