@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    height: 100%;
    background: #f0f0f0;
  }

html, body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    position: absolute; left: 0; right: 0
}

.loriHouse {
    width: 100%;
    height: auto;

}

hr {
    border: 1px solid #f0f0f0;
    border-radius: 2px; 
    margin-top: 15px; 
    margin-bottom: 15px
  }

  h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    color: black;
    text-align: center;
    text-emphasis: bold;
  }

  h2 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 42px;
    color: white;
    text-shadow: 3px 3px #26269e;
    text-align: center;
    text-emphasis: bold;
  }

  h3 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 42px;
    color: white;
    
    text-align: center;
    text-emphasis: bold;
  }

  h6 {
    position: relative;
  font-family: sans-serif;
  text-transform: uppercase;
  font-size: 1em;
  letter-spacing: 4px;
  overflow: hidden;
  background: linear-gradient(90deg, #fff, #65d1e0, #fff);
  background-repeat: no-repeat;
  background-size: 80%;
  animation: animate 17s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

@keyframes animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}
  

#property-grid {
    display: grid;
}

.property-card-odd {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%
}

.property-card-even {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
}

.image-box {
    display: flex;
    justify-content: center;
}


.description-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.image-wrap img {
    width: 100%;
    max-width: 380px;
    min-width: 240px;
    border: solid 2px black;
}

.descript {
    max-width: 550px;
    font-family: 'Times New Roman', Times, serif;
  font-size: 18px;
  padding: 20px 20px;
}

.descript-wrap {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.video-container1 {
    height: 1080px;
    width: auto;
    overflow: hidden;
    position: relative;
}

.video-container1 video {
    min-width: auto;
    min-height: 1080px;
    position: absolute;
    object-fit: cover;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.video-container {
    height: 90vh;
    width: auto;
    overflow: hidden;
    position: relative;
}

.video-container video {
    min-width: 100vh;
    height: auto;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

/* Just styling the content of the div, the *magic* in the previous rules */
.video-container .caption {
    z-index: 1;
    position: relative;
    text-align: center;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 48px;
    /*padding: 10px;*/
}

@media screen and (min-width: 1024px) {

    .video-container {
        max-height: 1370px;
    }

    .video-container video {
        max-height: 1370px;
}
}


@media screen and (min-width: 2560px) {
    
    .video-container {
        max-height: 1440px;
    }

    .video-container video {
        max-height: 1440px;
    }
}



@media screen and (min-width: 3840px) {
    
    .video-container {
        max-height: 2160px;
    }

    .video-container video {
        max-height: 2160px;
    }
}



@media only screen and (min-width: 900px) {
    
    .property-card-odd {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    }

    .property-card-even {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    width: 100%;
    }
}
