* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


nav {
    width: 100%;
        height: 95px;
        margin: 0 auto;
        background-color: rgba(0,0,0,0.7);
    padding: 0 15px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

a {
    color: red; 
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
}

.menu, 
.submenu {
    list-style-type: none;
}

.logo {
    font-size: 25px;
    padding: 2px 10px 2px 0;

} 

.logo-image {
    width: 75px;
    height: auto;
}

.item {
    padding: 10px;
}

.item:not(.button) a:hover,
.item a:hover::after {
    color: gray;
}


/* Galaxy Fold Styling */

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.menu li a {
    display: block;
    padding: 5px 5px;
}

.menu li.subitem a {
    padding: 15px;
}

.toggle {
    order: 1;
    font-size: 20px;
    color:blue;
}

.item {
    order: 2;
    width: 100%;
    text-align: center;
    display: none;
}

.active .item {
    display: block;
}

.submenu {
    display: none;
    transition: 1.5s;
}

.submenu-active .submenu {
    display: block;
    transition: 0.5s;
}

.has-submenu > a::after {
    font-family: "Font Awesome 5 Free";
    font-size: 12px;
    line-height: 16px;
    font-weight: 900;
    content: "\f078";
    color: red;
    padding-left: 8px
}

.subitem a {
    padding: 10px 15px;
}

.submenu-active {
    background-color: whitesmoke;
    border-radius: 3px;
    z-index: 1000;
}

.has-submenu {
    cursor: pointer;
}

/* Pixel 2 styling */

@media screen and (min-width: px) {

    
}

/* desktop nav */

@media screen and (min-width: 960px) {
    
    .item {
        order: 1; 
        position: relative;
        display: block;
        width: auto;
    }

    .submenu-active .submenu {
        display: block;
        position: absolute;
        left: 0;
        top: 68px;
        background: whitesmoke;
    }

    .toggle {
        display: none;
        color: blue;
    }

    .submenu-active {
        border-radius: 0;
    }

    .has-submenu > a::after {
        padding-left: 16px;
    }
}