* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    height: 100%;
    background-color: #f0f0f0;
}

.banner {
    width: 100%;
    height: auto;

}

h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 42px;
    color: black;
    text-align: center;
    text-emphasis: bold;
  }


#optima-description {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    padding: 20px 50px;
  }

  #optima-contact {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 24px;
    padding: 20px 50px;
  }

  #optima-contact a{
    font-family: 'Times New Roman', Times, serif;
    color: black;
    text-align: center;
    font-size: 24px;
    padding: 20px 50px;
  }

  .btn {
    padding: 1em 2.1em 1.1em;
    border-radius: 3px;
    margin: 8px 8px 8px 8px;
    color: #fbdedb;
    background-color: #fbdedb;
    display: inline-block;
    background: red;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    font-family: sans-serif;
    font-weight: 800;
    font-size: 1.1em;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    -webkit-box-shadow: 0em -0.3rem 0em rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0em -0.3rem 0em rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0em -0.3rem 0em rgba(0, 0, 0, 0.1) inset;
    position: relative;
}
.btn:hover, .btn:focus {
    opacity: 0.8;
}
.btn:active {
    -webkit-transform: scale(0.80);
    -moz-transform: scale(0.80);
    -ms-transform: scale(0.80);
    -o-transform: scale(0.80);
    transform: scale(0.80);
}
.btn.block {
    display: block !important;
}
.btn.circular {
  border-radius: 50em !important;
}


/* Colours */
.red {
    background-color: #d82032;
}


  hr {
    border: 1px solid #f0f0f0;
    border-radius: 2px; 
    margin-top: 15px; 
    margin-bottom: 15px;
  }

