* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    height: 100%;
    background: #f0f0f0;
  }

  html, body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.thank-you {
    width: 100%;
    height: auto;

}

.back-home {
    padding: 1.25rem 1.875rem;
    display: flex;
    flex-wrap: wrap;
  }
  
  #button-round {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
  }

  #home-message {
    color: black;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  font-size: 24px;
  
}

@media only screen and (min-width: 29.8125rem /* 477px */) {
    .back-home {
      justify-content: space-evenly;
    }
   
  
  
  }
  @media only screen and (min-width: 77.5rem /* 1240px */) {
    .back-home {
      justify-content: space-evenly;
    }
  
   
  }